In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [9]:
data = pd.read_csv('/Users/Munna/0481/creditcard.csv')

In [10]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [12]:
data.shape

(284807, 31)

In [13]:
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [15]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [16]:
legit.shape

(284315, 31)

In [17]:
fraud.shape

(492, 31)

In [18]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [19]:
data = data.dropna()

In [20]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [21]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [22]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [23]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [24]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
#UNDERSAMPLING
legit_sample = legit.sample(n=492)

In [26]:
new_ds = pd.concat([legit_sample,fraud],axis=0)

In [27]:
new_ds['Time']==37474

268796    False
67298     False
176045    False
68459     False
65709     False
          ...
279863    False
280143    False
280149    False
281144    False
281674    False
Name: Time, Length: 984, dtype: bool

In [28]:
new_ds.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
268796,163383.0,2.031657,-1.755661,-1.195161,-1.822330,-0.556827,1.110121,-1.309276,0.298128,-1.430961,...,-0.051964,0.297979,0.187838,-1.646564,-0.411832,-0.090581,0.047483,-0.063352,85.10,0
67298,52461.0,-0.375929,0.731326,2.436070,1.207823,-0.393153,0.559976,-0.054812,0.283374,0.088545,...,0.073604,0.498125,-0.113275,0.104595,-0.372004,-0.293097,0.228462,0.151471,4.99,0
176045,122606.0,2.032955,0.247359,-1.467924,0.517615,0.300987,-1.060058,0.256923,-0.306834,0.287602,...,-0.313014,-0.735143,0.396470,1.023303,-0.302467,0.141671,-0.051345,-0.023608,0.89,0
68459,52999.0,-1.277167,1.577900,0.448534,0.974964,-0.511276,-0.799298,0.284776,0.522494,-1.016913,...,0.266062,0.580619,0.044149,0.430718,-0.169960,-0.354577,-0.302136,0.008188,37.95,0
65709,51709.0,-0.809711,-4.164934,-0.467628,-0.292182,-2.102944,0.558262,0.509224,-0.042937,2.425200,...,0.624324,-0.091444,-1.112369,-0.285460,0.230752,0.120862,-0.128262,0.193361,1061.69,0

In [29]:
new_ds.shape

(984, 31)

In [30]:
new_ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 984 entries, 268796 to 281674
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    984 non-null    float64
 1   V1      984 non-null    float64
 2   V2      984 non-null    float64
 3   V3      984 non-null    float64
 4   V4      984 non-null    float64
 5   V5      984 non-null    float64
 6   V6      984 non-null    float64
 7   V7      984 non-null    float64
 8   V8      984 non-null    float64
 9   V9      984 non-null    float64
 10  V10     984 non-null    float64
 11  V11     984 non-null    float64
 12  V12     984 non-null    float64
 13  V13     984 non-null    float64
 14  V14     984 non-null    float64
 15  V15     984 non-null    float64
 16  V16     984 non-null    float64
 17  V17     984 non-null    float64
 18  V18     984 non-null    float64
 19  V19     984 non-null    float64
 20  V20     984 non-null    float64
 21  V21     984 non-null    float64
 22  V22     984 non-null    float64
 23  V23     984 non-null    float64
 24  V24     984 non-null    float64
 25  V25     984 non-null    float64
 26  V26     984 non-null    float64
 27  V27     984 non-null    float64
 28  V28     984 non-null    float64
 29  Amount  984 non-null    float64
 30  Class   984 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 246.0 KB

In [31]:
new_ds['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [32]:
new_ds['Class'] = new_ds['Class'].astype(int)

In [33]:
new_ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 984 entries, 268796 to 281674
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    984 non-null    float64
 1   V1      984 non-null    float64
 2   V2      984 non-null    float64
 3   V3      984 non-null    float64
 4   V4      984 non-null    float64
 5   V5      984 non-null    float64
 6   V6      984 non-null    float64
 7   V7      984 non-null    float64
 8   V8      984 non-null    float64
 9   V9      984 non-null    float64
 10  V10     984 non-null    float64
 11  V11     984 non-null    float64
 12  V12     984 non-null    float64
 13  V13     984 non-null    float64
 14  V14     984 non-null    float64
 15  V15     984 non-null    float64
 16  V16     984 non-null    float64
 17  V17     984 non-null    float64
 18  V18     984 non-null    float64
 19  V19     984 non-null    float64
 20  V20     984 non-null    float64
 21  V21     984 non-null    float64
 22  V22     984 non-null    float64
 23  V23     984 non-null    float64
 24  V24     984 non-null    float64
 25  V25     984 non-null    float64
 26  V26     984 non-null    float64
 27  V27     984 non-null    float64
 28  V28     984 non-null    float64
 29  Amount  984 non-null    float64
 30  Class   984 non-null    int32
dtypes: float64(30), int32(1)
memory usage: 242.2 KB

In [34]:
new_ds.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
268796,163383.0,2.031657,-1.755661,-1.195161,-1.822330,-0.556827,1.110121,-1.309276,0.298128,-1.430961,...,-0.051964,0.297979,0.187838,-1.646564,-0.411832,-0.090581,0.047483,-0.063352,85.10,0
67298,52461.0,-0.375929,0.731326,2.436070,1.207823,-0.393153,0.559976,-0.054812,0.283374,0.088545,...,0.073604,0.498125,-0.113275,0.104595,-0.372004,-0.293097,0.228462,0.151471,4.99,0
176045,122606.0,2.032955,0.247359,-1.467924,0.517615,0.300987,-1.060058,0.256923,-0.306834,0.287602,...,-0.313014,-0.735143,0.396470,1.023303,-0.302467,0.141671,-0.051345,-0.023608,0.89,0
68459,52999.0,-1.277167,1.577900,0.448534,0.974964,-0.511276,-0.799298,0.284776,0.522494,-1.016913,...,0.266062,0.580619,0.044149,0.430718,-0.169960,-0.354577,-0.302136,0.008188,37.95,0
65709,51709.0,-0.809711,-4.164934,-0.467628,-0.292182,-2.102944,0.558262,0.509224,-0.042937,2.425200,...,0.624324,-0.091444,-1.112369,-0.285460,0.230752,0.120862,-0.128262,0.193361,1061.69,0

In [35]:
X = new_ds.drop(columns='Class',axis=1)
Y = new_ds['Class']

In [36]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
268796  163383.0  2.031657 -1.755661 -1.195161 -1.822330 -0.556827  1.110121
67298    52461.0 -0.375929  0.731326  2.436070  1.207823 -0.393153  0.559976
176045  122606.0  2.032955  0.247359 -1.467924  0.517615  0.300987 -1.060058
68459    52999.0 -1.277167  1.577900  0.448534  0.974964 -0.511276 -0.799298
65709    51709.0 -0.809711 -4.164934 -0.467628 -0.292182 -2.102944  0.558262
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
268796 -1.309276  0.298128 -1.430961  ... -0.356478 -0.051964  0.297979
67298  -0.054812  0.283374  0.088545  ...  0.038409  0.073604  0.498125
176045  0.256923 -0.306834  0.287602  ... -0.108402 -0.313014 -0.735143
68459   0.284776  0.522494 -1.016913  ... -0.234754  0.266062  0.580619
65709   0.509224 -0.042937  2.425200  ...  1.990726  0.624324 -0.091444
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
268796  0.187838 -1.646564 -0.411832 -0.090581  0.047483 -0.063352    85.10
67298  -0.113275  0.104595 -0.372004 -0.293097  0.228462  0.151471     4.99
176045  0.396470  1.023303 -0.302467  0.141671 -0.051345 -0.023608     0.89
68459   0.044149  0.430718 -0.169960 -0.354577 -0.302136  0.008188    37.95
65709  -1.112369 -0.285460  0.230752  0.120862 -0.128262  0.193361  1061.69
...          ...       ...       ...       ...       ...       ...      ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [37]:
print(Y)

268796    0
67298     0
176045    0
68459     0
65709     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int32

In [38]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [39]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [40]:
model = LogisticRegression()

In [41]:
model.fit(X_train,Y_train)

LogisticRegression()

In [42]:
X_train_prediction  = model.predict(X_train)
train_accuracy = accuracy_score(X_train_prediction,Y_train)
print('Accuracy for training data is ',train_accuracy *100)

Accuracy for training data is  94.66327827191868

In [43]:
X_test_prediction  = model.predict(X_test)
test_accuracy = accuracy_score(X_test_prediction,Y_test)
print('Accuracy for testing data is ',test_accuracy *100)

Accuracy for testing data is  94.41624365482234

In [44]:
from sklearn.metrics import classification_report, confusion_matrix

# Training Set Evaluation
print("Training Set:")
print("Confusion Matrix:\n", confusion_matrix(Y_train, X_train_prediction))
print("Classification Report:\n", classification_report(Y_train, X_train_prediction))

Training Set:
Confusion Matrix:
 [[379  14]
 [ 28 366]]
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.96      0.95       393
           1       0.96      0.93      0.95       394

    accuracy                           0.95       787
   macro avg       0.95      0.95      0.95       787
weighted avg       0.95      0.95      0.95       787

In [45]:
# Testing Set Evaluation
print("\nTesting Set:")
print("Confusion Matrix:\n", confusion_matrix(Y_test, X_test_prediction))
print("Classification Report:\n", classification_report(Y_test, X_test_prediction))

Testing Set:
Confusion Matrix:
 [[97  2]
 [ 9 89]]
Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.98      0.95        99
           1       0.98      0.91      0.94        98

    accuracy                           0.94       197
   macro avg       0.95      0.94      0.94       197
weighted avg       0.95      0.94      0.94       197

In [46]:
from sklearn.metrics import precision_score, recall_score, f1_score

# Training Set Metrics
precision_train = precision_score(Y_train, X_train_prediction)
recall_train = recall_score(Y_train, X_train_prediction)
f1_train = f1_score(Y_train, X_train_prediction)

print("Training Set Metrics:")
print(f"Precision: {precision_train:.4f}")
print(f"Recall: {recall_train:.4f}")
print(f"F1-Score: {f1_train:.4f}")

Training Set Metrics:
Precision: 0.9632
Recall: 0.9289
F1-Score: 0.9457

In [47]:
# Testing Set Metrics
precision_test = precision_score(Y_test, X_test_prediction)
recall_test = recall_score(Y_test, X_test_prediction)
f1_test = f1_score(Y_test, X_test_prediction)

print("\nTesting Set Metrics:")
print(f"Precision: {precision_test:.4f}")
print(f"Recall: {recall_test:.4f}")
print(f"F1-Score: {f1_test:.4f}")

Testing Set Metrics:
Precision: 0.9780
Recall: 0.9082
F1-Score: 0.9418